/* Print styles */

@media print {
	
  * {
    visibility: hidden;
		color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  .container {
    margin: 0;
	  padding: 0;
	  border: 0;
  }

  #section-to-print, #section-to-print *, .report-print, .report-print * {
    visibility: visible;
  }

	.report-print {
		width: 100%
	}

  #section-to-print {
    transform: translate(0%, -100%) rotate(90deg);
    transform-origin: bottom left;
    font-size: 8pt;
    line-height: 1.2;
		display: block;
    border: 0px;
  }

}

/* App and label styles */

body {
  background-color: #F0F0F0;
}

.optionDropdown {
  height:30px;
  line-height:30px;
}

.table-print {
  font-family: Georgia, serif;
  font-size: 12px;
  border: 2px dashed #808080;
  background-color: #FFF;
}

.table-print > tbody > tr > td {
	padding-left: 5px;
}

#statusMessage {
  color:#FFF;
}

.noMargin {
  margin-bottom: 0px !important;
}

.logo {
	display: block;
	width: 1.8in;
}

.clogo {
  height: 60px;
  width: 60px;
}

.plogo {
  height: 60px;
  width: 75px;
}

.barcode {
  padding: 10px 10px 10px 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.horizontalRule {
  width: 100%; 
  color: #555; 
  height: 1px; 
  background-color:#555;
}

.emailSupport {
  color: #333;
}

.zpl {
  visibility: hidden;
}

.table-white {
  background-color: #FFF;
}

.table-white > tbody > tr > td {
  border: 0px !important;
}

.pad-top {
  padding-top: 40px;
  padding-bottom: 200px;
}

.navbar-nav > li > a,
.navbar-brand {
    padding-top:10px !important;
    padding-bottom:0 !important;
    height: 40px;
}

.navbar {
  min-height:40px !important;
}

.navbar-default {
  background-color: #2895f1;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.loginBlock {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.signInBlock {
  padding-top: 10px;
  padding-bottom: 50px;
}

.signUpBlock {
  padding-bottom: 200px;
}

.itemHeader {
	border-bottom: 1px solid #333;
}

.itemFooter {
	border-top: 1px solid #333;
}

.customerPackingList {
	background-color: #fff;
	padding: 20px 20px 20px 20px;
	border: 1px solid #333;
}

.customerPackingListH {
	font-size: 12pt;
	font-weight: 700;
}

/* 
Nutrition label US-version 
*/

.nutritionLabel {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
	border: 1pt solid #000;
	line-height: 1.3;
	padding: 3.5pt;
	color: #000;
	width: 260px;
}

.nutritionLabel .titleText {
	font-size: 24pt;
	font-weight: 700;
	text-align: center;
}

.nutritionLabel .servingSize {
	float: right;
	font-size: 10pt;
	font-weight: 700;
}

.nutritionLabel .servingSizeText {
	font-size: 10pt;
	font-weight: 700;
}

.nutritionLabel .bar1 { 
	height: 7pt;
	background: #000;
}

.nutritionLabel .calories {
	float: right;
	font-size: 22pt;
	font-weight: 700;
	margin-top: 10px;
}

.nutritionLabel .amountPerServing {
	font-size: 6pt;
	font-weight: 700;
}

.nutritionLabel .caloriesText {
	font-size: 16pt;
	font-weight: 700;
}

.nutritionLabel .bar2 { 
	height: 3pt; 
	background: #000;
}

.nutritionLabel .dailyValue { 
	text-align: right;
	font-size: 6pt;
}

.nutritionLabel .dv {
	float: right;
	font-size: 10pt;
	font-weight: 700;
}

.nutritionLabel .line {
	border-top: 0.25pt solid #000;
	padding-top: 1pt;
	padding-bottom: 1pt;
	font-size: 9pt;
	font-weight: 700;
}

.nutritionLabel .line.pad {
	font-weight: 400;
	margin-left: 15px;
}

.nutritionLabel .line.addedSugar {
	margin-left: 30px;
}

.nutritionLabel .line.nutrients {
	font-weight: 400;
}

.nutritionLabel .calorieNote {
	padding-top: 1pt;
	font-size: 7pt;
}


/* 
Nutrition label CA-version 
*/

.nutritionLabelCA {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
	border: 1pt solid #000;
	line-height: 1.3;
	padding: 3pt;
	color: #000;
	width: 220px;
}

.nutritionLabelCA .titleText {
	font-size: 16pt;
	font-weight: 700;
}

.nutritionLabelCA .servingSizeText {
	font-size: 10pt;
}

.nutritionLabelCA .bar { 
	height: 3pt;
	background: #000;
}

.nutritionLabelCA .amountPerServing {
  font-size: 7pt;
}

.nutritionLabelCA .dailyValue { 
	float: right;
  text-align: right;
	font-size: 7pt;
  margin-top: -12px;
}

.nutritionLabelCA .dv {
	float: right;
	font-size: 10pt;
}

.nutritionLabelCA .dvFat {
	float: right;
	font-size: 10pt;
	margin-top: 7px;
}

.nutritionLabelCA .line {
	border-top: 0.25pt solid #000;
	padding-top: 1pt;
	padding-bottom: 1pt;
	font-size: 9pt;
}

.nutritionLabelCA .line.pad {
	font-weight: 400;
	margin-left: 10px;
}

.nutritionLabelCA .padLeft {
  margin-left: 10px;
}

.nutritionLabelCA .line.nutrients {
	font-weight: 400;
}